body{
    font-family: 'Montserrat';
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}
nav{
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
}

.word_press_theme{
    background-image: url(../img/Sections_background/section-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1012px;
}

.header{
    display: flex;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    align-items: center;
    margin-left: 308px;
}

.nav-list-item{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 25px;
    padding: 45px 5px 45px 0px;
}

.nav-list-item:hover{
    color: #18CFAB;
    border-bottom: 1px solid #18CFAB;;
}

.nav-search-icon{
    width: 20px;
    height: 20px;
    margin-top: 50px;
    margin-right: 270px;
}

.slogan{
    text-align: center;
    margin-top: 230px;
}

.slogan-first_line, .slogan-second_line{
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
}

.slogan-first_line{
    font-size: 35px;
}

.green{
    color: #18CFAB;
}
.slogan-second_line{
    font-size: 78px;
    padding-top: 27px;
}

.slogan-third_line{
    padding-top: 27px;
    font-weight: 400;
    color: #D4D4D4;
    font-size: 34px;
}

.buttons_row{
    display: flex;
    justify-content: center;
    margin-top: 124px;
}

.explore, .purchase{
    width: 169px;
    height: 63px;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    border-top: 5px solid white;
}

.explore{
    background-color: #18CFAB;
    margin-right: 30px;
}

.purchase{
    background-color: #00CBF6;
}

.features{
    padding: 0;
    margin-top: 7px;
    width: 100%;
}

.features-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    height: 377px;
    background-color: #1C2A33;
    color: #18CFAB;
}

.features > ul{
    display: flex;
}

.features-item:nth-child(2n){
    background-color: #18CFAB;
    color: white;
}

.features-item > p{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-top: 55px;
    text-transform: uppercase;
}

.our_services{
    height: 375px;
    margin-top: 92px;
}

.title{
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
}

.title::after{
    content: "";
    height: 5px;
    width: 75px;
    border-bottom: 1px solid #18CFAB;
    border-top: 1px solid #18CFAB;
    margin-top: 32px;
    margin-left: 535px;
    display: block;
    transform: skew(60deg);
}

.services-list{
    margin-top: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 210px;
}

.services-list-item{
    display: flex;
    justify-content: center;
    min-width: 145px;
    padding: 20px 40px 20px 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 39px;
    border: 1px solid #F2F2F2;
    color: #717171;
    text-align: center;
}

.services-list-item:nth-child(1){
    margin-left: 80px;
}

.active_service{
    background-color:#18CFAB;
    color: white;
}

.active_service::after{
    content: "";
    background-image: url(../img/icons/Rectangle.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 15px;
    position: absolute;
    margin-top: 55px;
}

.services-list-item:hover{
    border: 1.5px solid #18CFAB;
}

.service_info{
    display: none;
    margin-top: -35px;
    margin-left: -35px;
}

.active_service-info{
    display: flex;
}
.service_info-img{
    width: 192px;
    height: 139px;
}

.service_info-text{
    margin-left: 16px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
}

.everything_is_ready{
    margin-top: 170px;
    background-image: url(../img/Sections_background/section-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 476px;
}

.everything_is_ready-title{
    /* margin-left: 144px; */
    text-align: center;
    padding-top: 125px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #18CFAB;
    text-transform: uppercase;
}

.everything_is_ready-text{
    margin-top: 15px;
    text-align: center;
    font: 2400px;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}

.explore-evr_is_ready{
    margin-top: 72px;
    margin-left: 43%;
}

.our_amazing_work{
    background-color: #E9EDEF;
    padding-top: 100px;
    min-height: 1212px;
}

.work_list{
    margin-top: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 73px;
}

.work_list-item{
    font-weight: 400;
    font-size: 14px;
    color: #717171;
    border: 1px solid #DADADA;
    padding: 30px;
}

.work_list-item:hover{
    border: 1px solid #18CFAB;
 }

.active_work_list{
    color: #18CFAB;
    border: 2px solid #18CFAB;
}

.active_work_list:hover{
    color: #18CFAB;
    border: 2px solid #18CFAB;
}

.work_list-images{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.work_list-images-item{
    width: 285px;
    height: 211px;
}

.work_list-images-item > img{
    height: 100%;
}

.work_list-popup{
    display: none;
    position: absolute;
    background-color: #E9EDEF;
    width: 292px;
    height: 211px;
    cursor: pointer;
    border-top: 3px solid #18CFAB;
}

.work_list-popup-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

.work_list-popup-lock_icon{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #18CFAB;
}

.work_list-popup-lock_icon > img{
    position: absolute;
    margin: 13px;
}

.work_list-popup-rectangle_icon{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #18CFAB;
    margin-left: 4px;
}

.rectangle{
    position: absolute;
    margin: 15px 0px 15px 14px;
}

.popup-title{
    margin-top: 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    text-align: center;
}

.popup-text{
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
    color: #8A8A8A;
    text-align: center;
}

.work_list-images-item:hover .work_list-popup{
    display: block;
}

.load_more_button{
    cursor: pointer;
    margin-top: 70px;
    margin-left: 45%;
    display: flex;
    text-transform: uppercase;
    width: 120px;
    height: 42px;
    border: none;
    background-color: #18CFAB;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
}

.load_more_button_loading{
    display: none;
    position: absolute;
    margin-left: 23%;
    margin-top: 70px;
    text-transform: uppercase;
    width: 120px;
    height: 42px;
    border: none;
    background-color: #18CFAB;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
}


.plus_icon{
    font-size: 20px;
    margin-right: 5px;
}

.not_loaded{
    display: none;
}

.breaking_news{
    height: 744px;
    margin-top: 85px;
    margin-bottom: 135px;
}

.breaking_news-list{
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 40px;
}

.breaking_news-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    color:#717171;
    margin-top: 5px;
    margin-left: 10px;
}

.breaking_news-social{
    display: flex;
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    margin-left: 5px;
}

.by_admin::after{
    content: "|";
    margin-left: 10px;
    margin-right: 10px;
}

.date_block{
    margin-left: 216px;
    margin-top: -267.5px;
    position: absolute;
    width: 68px;
    height: 68px;
    background-color:#203E38;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}

.date{
    margin-top: 10px;
}

.breaking_news-list-item:hover .date_block{
    background-color: #18CFAB;
}

.breaking_news-list-item:hover .breaking_news-title{
    color: #18CFAB;
}

.reviews{
    background-color:#22353F;
    background-image: url(../img/Sections_background/section-3.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 853px;
}

.reviews_title{
    padding-top: 100px;
    color: white;
}

.reviews_image{
    margin-top: 65px;
    margin-left: 550px;
}

.reviews-detailed_info{
    margin-top: 35px;
    display: none;
}

.reviews-detailed_info-comment{
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #BBBBBB;
}

.reviews-detailed_info-name{
    margin-top: 35px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color:#18CFAB;
}

.reviews-detailed_info-job{
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    color: #BBBBBB;
}

.reviews-detailed_info-avatar{
    width: 170px;
    height: 170px;
    background-color: rgba(31, 218, 181, 0.1);
    border-radius: 85px;
    margin-left: 495px;
    margin-top: 40px;
}

.reviews-detailed_info-avatar > img{
    margin: 14px;
    width: 142px;
    height: 142px;
}

.active_info{
    display: block;
}

.reviews-user_selection{
    display: flex;
    justify-content: center;
}

.user_selection-list{
    display: flex;
}

.user_selection-avatar{
    width: 70px;
    height: 70px;
    background-color: rgba(31, 218, 181, 0.1);
    border-radius: 35px;
    margin-top: 40px;
    margin-right: 30px;
    cursor: pointer;
}

.user_selection-avatar > img{
    margin: 6px;
    width: 58px;
    height: 58px;
}

.reviews-user_selection-backarrow{
    cursor: pointer;
    margin-top: 68px;
    margin-right: 30px;
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
}

.reviews-user_selection-forwardsarrow{
    cursor: pointer;
    margin-top: 68px;
    transform: rotate(180deg);
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
}

.backarrow-icon, .forwardsarrow-icon{
    margin: 9px;
    width: 10px;
    height: 15px;
}

.reviews-user_selection-backarrow:hover{
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    filter: brightness(104%) contrast(897%);
}

.reviews-user_selection-forwardsarrow:hover{
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    filter: brightness(104%) contrast(897%);
}

.active_user .user_selection-avatar {
    background-color: rgba(31, 218, 181, 0.6);
}

.active_user{
    margin-top: -10px;
}

footer{
    margin: 0;
    height: 121px;
    background-color:#22353F;
}

.copyright{
    padding-top: 45px;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #AEAEAE;
}

.copyright > a{
    text-decoration: none;
    color: #18CFAB;
}